// Variables de estilo
$margin: 10px;
$img-margin: 40px;
$font-family: sans-serif;
$footer-bg-color: black;
$fondocontacto-height: 600px;
$li-margin: 10px;
$ms-2-margin-left: 5rem;
$input-border-radius: 10px;
$botonform-font-size: 12px;
$row-margin-left: 2rem;
$card-margin: 8px;
$card-width: 20rem;
$card-hover-width: 350px;
$card-hover-height: 450px;
$card-transition-duration: 1s;
